<top-menu></top-menu>
<bottom-bar class="bottom-bar"></bottom-bar>

<div class="dropdown-mask"></div>

<div class="more-button"><i class="fa fa-ellipsis-v"></i></div>
<img src="images/common/logo.png" class="logo">
<div class="top-menu-action-title">
    <div class="top-menu-action-title-hz">{{actionTitle.hz}}</div>
    <div class="top-menu-action-title-sub">{{actionTitle | subTitleFilter}}</div>
</div>

<div id="iScrollDropdownActionMenuWrapper" ng-include="'views/home/action-menu/action-menu.html'" class="dropdown-menu-container" ng-iscroll="iScrollDropdownActionMenuWrapper" ng-iscroll-delay="100"></div>
