<div class="home-body">
	<div class="header">
		<div class="banner">
			<div class="banner-left-bg"></div>
			
			<div class="admin-sign-in" ng-click="signin()">
				<div>
					<i class="fa fa-user"></i>
				</div>
				<span>{{signStr}}</span>
			</div>
			<div class="user-name" style="display:{{signedIn ? 'block' : 'none'}}">{{user}}</div>
		</div>
        <div class="selected-article-title-container">
            <div class="selected-article">
                《{{articleInfo.typeLabel}}》{{articleInfo.title.hz}} <i class="fa fa-star"></i> <span>{{articleInfo.title | subTitleFilter}}</span>
            </div>
        </div>    
	</div>
	<div class="menu">
        <home-menu></home-menu>
	</div>
	<div class="footer">
		<div class="footer-left-bg"></div>
		<ul>
			<li><div ng-click="launchSettings($event)"><i class="fa fa-cog"></i></div></li>
			<li><div ng-click="launchAbout($event)"><i class="fa fa-info"></i></div></li>
			<li><div ng-click="launchHelp($event)"><i class="fa fa-question"></i></div></li>
		</ul>
	</div>
</div>
