<bottom-menu></bottom-menu>
<div class="bottom-buttons">
    <i class="fa fa-ellipsis-v bottom-more-button" ng-click="toggleControlPanel($event)"></i>
    <i class="fa fa-home bottom-home-button" ng-click="home($event)"></i>
</div>
<div class="article-info">
    <div class="gradient-red-black">
        <div class="bottom-selected-article title-background text-ellipsis">
            <span class="bottom-hz">《{{articleInfo.typeLabel}}》</span><i class="fa fa-star"></i>
            <span class="bottom-hz">{{articleInfo.title.hz}}</span> <br/>
            <span class="bottom-sub">{{articleInfo.title | subTitleFilter}}</span>
        </div>

        <div class="page-count">
            <span>{{currentPage}}</span>/<span>{{totalPage}}</span>
        </div>
    </div>
</div>
<div class="control-panel">{{statusIndex}}
    <ul>
        <li><div ng-click="goFirst($event)"><i class="fa fa-fast-backward"></i></div></li>
        <li><div ng-click="goBack($event)"><i class="fa fa-step-backward"></i></div></li>
        <li><div ng-click="playPause($event)">
            <i class="fa fa-play" status="{{status}}"></i>
            <i class="fa fa-pause" status="{{status}}"></i>
        </div></li>
        <li><div ng-click="goNext($event)"><i class="fa fa-step-forward"></i></div></li>
        <li><div ng-click="close($event)"><i class="fa fa-times-circle"></i></div></li>
    </ul>
</div>
